/* style.scss */

/* variables are created with the preceding $ symbol */
$main-color: #ce4dd6;
$style: solid;
$navbar-width: 800px;
$navbar-height: 23px;
$items: 5;
$navbar-color: #ce4dd6;
$color-base-offset: 20%;
$vert: top;
$horz: left;
$radius: 10px;

#navbar {
  width: $navbar-width;
  height: $navbar-height;
}

/* Also, you can use standard math operations (+,-,*,/, and % [mod]) */

li {
  float: left;
  width: $navbar-width/$items-10px;
  /* you are setting the width to your variable ("800px") dividing by */
  /* your items variable ("5") and subtracting it by 10px */
  background-color: lighten($navbar-color, $color-base-offset);
  &:hover {
    background-color:
        lighten($navbar-color, 10%);
        /* colors also have functions such as lightness, hue, saturation */
		/* lighten (color, amount) -- amount is a percentage */
  }
}


.rounded-#{$vert}-#{$horz} {
   border-#{$vert}-#($horz)-radius: $radius;
   -moz-border-radius-#{$vert}#{$horz}: $radius;
   -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}